node_modules/

secrets.json

build/contracts/*.json
!build/contracts/ProxyAdmin.json
.openzeppelin/*
test/.openzeppelin/*

!.gitkeep

.idea

coverage.json
coverage/

landlords.txt
landlords-testnet.txt

contracts-addresses.txt

.DS_Store
